<h3>Réinitialisation du mot de passe</h3>

<h2>Vous avez perdu votre mot de passe</h2>

{# example, assuming you have a route named "login" #}
Veuillez cliquer sur le lien suivant pour le réinitialiser: <a href="{{ url('security-resetPassword', {"token":user.token}) }}">Réinitialisation</a>.

